USE [E-Ecommerce]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/6/2022 3:30:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 11/6/2022 3:30:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](50) NOT NULL,
	[CreateBy] [nvarchar](256) NULL,
	[CreateDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[UpdateBy] [nvarchar](256) NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/6/2022 3:30:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[ParentId] [int] NULL,
	[CreateDate] [datetime2](7) NULL,
	[CreateBy] [nvarchar](256) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CategoryDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryProduct]    Script Date: 11/6/2022 3:30:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryProduct](
	[CategoriesCategoryId] [int] NOT NULL,
	[ProductsProductId] [int] NOT NULL,
 CONSTRAINT [PK_CategoryProduct] PRIMARY KEY CLUSTERED 
(
	[CategoriesCategoryId] ASC,
	[ProductsProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 11/6/2022 3:30:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](100) NOT NULL,
	[ImageUrl] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[DisplayOrder] [int] NULL,
	[ProductId] [int] NULL,
	[CreateDate] [datetime2](7) NULL,
	[CreateBy] [nvarchar](256) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Origin]    Script Date: 11/6/2022 3:30:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Origin](
	[OriginId] [int] IDENTITY(1,1) NOT NULL,
	[OriginName] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[CreateBy] [nvarchar](256) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Origin] PRIMARY KEY CLUSTERED 
(
	[OriginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/6/2022 3:30:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[DescDescription] [nvarchar](max) NULL,
	[FullDescription] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[PriceDiscount] [float] NULL,
	[Quantity] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[CreateBy] [nvarchar](256) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateBy] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[BrandId] [int] NOT NULL,
	[OriginId] [int] NOT NULL,
	[ImageUrl] [nvarchar](100) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 11/6/2022 3:30:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[Score] [int] NOT NULL,
	[ProductId] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221018072727_DbInit', N'6.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221021063321_C_image_table', N'6.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221021064406_drop_productdtos', N'6.0.10')
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandId], [BrandName], [CreateBy], [CreateDate], [IsDeleted], [Status], [UpdateBy], [UpdateDate]) VALUES (1, N'DHC', N'Admin', CAST(N'2022-10-24T00:00:00.0000000' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Brand] ([BrandId], [BrandName], [CreateBy], [CreateDate], [IsDeleted], [Status], [UpdateBy], [UpdateDate]) VALUES (2, N'KIRKLAND', N'Admin', CAST(N'2022-10-24T00:00:00.0000000' AS DateTime2), 0, 1, NULL, NULL)
INSERT [dbo].[Brand] ([BrandId], [BrandName], [CreateBy], [CreateDate], [IsDeleted], [Status], [UpdateBy], [UpdateDate]) VALUES (3, N'Bioderma', N'Admin', CAST(N'2022-10-27T00:00:00.0000000' AS DateTime2), 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName], [ParentId], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy], [Status], [IsDeleted], [CategoryDescription]) VALUES (0, N'Select', NULL, NULL, NULL, NULL, NULL, 1, 0, NULL)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [ParentId], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy], [Status], [IsDeleted], [CategoryDescription]) VALUES (1, N'Thực phẩm chức năng', 0, CAST(N'2022-10-18T00:00:00.0000000' AS DateTime2), N'admin', NULL, NULL, 1, 0, NULL)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [ParentId], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy], [Status], [IsDeleted], [CategoryDescription]) VALUES (2, N'Mỹ phẩm', 0, CAST(N'2022-10-18T00:00:00.0000000' AS DateTime2), N'admin', NULL, NULL, 1, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[CategoryProduct] ([CategoriesCategoryId], [ProductsProductId]) VALUES (99, 3)
INSERT [dbo].[CategoryProduct] ([CategoriesCategoryId], [ProductsProductId]) VALUES (99, 24)
INSERT [dbo].[CategoryProduct] ([CategoriesCategoryId], [ProductsProductId]) VALUES (22, 27)
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([ImageId], [ImageName], [ImageUrl], [Title], [DisplayOrder], [ProductId], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy], [Status], [IsDeleted]) VALUES (2, N' vien-uong-ho-tro-bo-sung-vitamin-c-dhc-nhat-ban', N'vien-uong-ho-tro-bo-sung-vitamin-c-dhc-nhat-ban-5f3751aeb6fbc-15082020100830.jpeg', NULL, 1, 3, CAST(N'2022-10-24T00:00:00.0000000' AS DateTime2), N'admin', NULL, NULL, 1, 0)
INSERT [dbo].[Image] ([ImageId], [ImageName], [ImageUrl], [Title], [DisplayOrder], [ProductId], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy], [Status], [IsDeleted]) VALUES (7, N'vitamin-c-1000mg-kirkland-hop-500-vien-vitamin-c-cua-my.jpg', N'vitamin-c-1000mg-kirkland-hop-500-vien-vitamin-c-cua-my-614c1aefad3ad-23092021131303.jpg', NULL, 1, 24, CAST(N'2022-10-24T00:00:00.0000000' AS DateTime2), N'admin', NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Origin] ON 

INSERT [dbo].[Origin] ([OriginId], [OriginName], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy], [Status], [IsDeleted]) VALUES (1, N'Nhật Bản', CAST(N'2022-10-24T00:00:00.0000000' AS DateTime2), N'admin', NULL, NULL, 1, 0)
INSERT [dbo].[Origin] ([OriginId], [OriginName], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy], [Status], [IsDeleted]) VALUES (3, N'Mỹ', CAST(N'2022-10-24T00:00:00.0000000' AS DateTime2), N'admin', NULL, NULL, 1, 0)
INSERT [dbo].[Origin] ([OriginId], [OriginName], [CreateDate], [CreateBy], [UpdateDate], [UpdateBy], [Status], [IsDeleted]) VALUES (4, N'Pháp', CAST(N'2022-10-24T00:00:00.0000000' AS DateTime2), N'admin', NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Origin] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([RatingId], [Score], [ProductId], [Comment], [Email], [Name], [CreateDate]) VALUES (1, 2, NULL, N'a', N'hoclammweb@gmail.com', N'Ngô Võ Tuấn An', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Rating] ([RatingId], [Score], [ProductId], [Comment], [Email], [Name], [CreateDate]) VALUES (2, 2, 27, N'a', N'hoclammweb@gmail.com', N'Ngô Võ Tuấn An', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Rating] ([RatingId], [Score], [ProductId], [Comment], [Email], [Name], [CreateDate]) VALUES (3, 2, 27, N'a', N'hoclammweb@gmail.com', N'Ngô Võ Tuấn An', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Rating] OFF
GO
ALTER TABLE [dbo].[Brand] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Brand] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Status]
GO
ALTER TABLE [dbo].[Image] ADD  DEFAULT (N'') FOR [ImageName]
GO
ALTER TABLE [dbo].[Image] ADD  DEFAULT (N'') FOR [ImageUrl]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [BrandId]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [OriginId]
GO
ALTER TABLE [dbo].[Rating] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Category_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Category_ParentId]
GO
ALTER TABLE [dbo].[CategoryProduct]  WITH CHECK ADD  CONSTRAINT [FK_CategoryProduct_Category_CategoryId] FOREIGN KEY([CategoriesCategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryProduct] CHECK CONSTRAINT [FK_CategoryProduct_Category_CategoryId]
GO
ALTER TABLE [dbo].[CategoryProduct]  WITH CHECK ADD  CONSTRAINT [FK_CategoryProduct_Product_ProductId] FOREIGN KEY([ProductsProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryProduct] CHECK CONSTRAINT [FK_CategoryProduct_Product_ProductId]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Product_ProductId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([BrandId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand_BrandId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Origin_OriginId] FOREIGN KEY([OriginId])
REFERENCES [dbo].[Origin] ([OriginId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Origin_OriginId]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Product_ProductId]
GO
