@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <header>
        <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  box-shadow top-header">
            <div class="container-xl float-start">
                <a class=" ms-2 logo-main" asp-page="Index">
                    <img src="https://localhost:44324/wwwroot/Upload/logo.png"  class="dropdown-toggle " style="height:65px" asp-append-version="true">

                </a>
                <div class="flex-fix col-9 ms-2">
                    <div class="flex-fix p-0">
                        <div class="flex-fix">
                            <div class="border border-2 rounded-circle p-2 circle-header">
                                <img src="https://localhost:44324/wwwroot/Upload/shopping.svg" class="img-header" asp-append-version="true">
                            </div>
                            <div class="mt-2 me-2 ms-2 title-header ">
                                <h5 class="m-0 ">Mua hàng</h5>
                                <p class="m-0 header-p lh-base">Cam kết chất lượng</p>
                            </div>
                        </div>
                    </div>
                    <div class=" p-0">
                        <div class="flex-fix">
                            <div class="border border-2 rounded-circle p-2 circle-header">
                                <img src="https://localhost:44324/wwwroot/Upload/shopping.svg" class="img-header" asp-append-version="true">
                            </div>
                            <div class="mt-2 me-2 ms-2 title-header">
                                <h5 class="m-0 ">Mua hàng</h5>
                                <p class="m-0 header-p lh-base">Cam kết chất lượng</p>
                            </div>
                        </div>
                    </div>              <div class=" p-0">
                        <div class="  flex-fix">
                            <div class="border border-2 rounded-circle p-2 circle-header">
                                <img src="https://localhost:44324/wwwroot/Upload/payment.svg" class="img-header" asp-append-version="true">
                            </div>
                            <div class="mt-2 me-2 ms-2 title-header">
                                <h5 class="m-0 ">Thanh Toán</h5>
                                <p class="m-0 header-p lh-base">Giao Hàng & Thanh Toán Tại Nhà</p>
                            </div>
                        </div>
                    </div>              <div class="p-0">
                        <div class="  flex-fix">
                            <div class="border border-2 rounded-circle p-2 circle-header">
                                <img src="https://localhost:44324/wwwroot/Upload/return.svg" class="img-header text-black" asp-append-version="true">
                            </div>
                            <div class="mt-2 me-2 ms-2 title-header">
                                <h5 class="m-0 ">Đổi trả hàng</h5>
                                <p class="m-0 header-p lh-base">Trong Vòng 05 Ngày(*)</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <nav class="navbar navbar-expand-sm p-0  bottom-header" style="background-color:#43c0e4">

            <div class="container-xl h-100">
                <div class="d-flex h-100" id="categories">
                    <a class="home-link " asp-page="" title="Chiaki.vn" data-toggle="tooltip" data-placement="right"> <img width="20" height="20" src="https://localhost:44324/wwwroot/Upload/home-menu.svg" alt="Siêu thị trực tuyến Chiaki.vn"> </a>
                    <div class="category-title col-ms-6 col-md-3 p-3  me-md-3  me-lg-0 dropdown-toggle fw-bolder text-white fs-5 ">
                        Danh mục sản phẩm
                    </div>
                    @await Component.InvokeAsync("Categories")
                </div>
                <!-- form tìm kiếm  -->
                <form asp-page="Search" class="form-inline w-50" method="get">
                    <div class="input-group w-75">

                        <input name="q" type="text" class="form-control"
                           placeholder="Nhập sách cần tìm kiếm...">
                        <div class="input-group-append">
                            <button asp-page="Search" type="submit" class="btn" style="background-color: #34b0dd; color: white;">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="navbar-nav mb-1 ml-auto">
                    <ul class="dropdown mb-0">
                        <li class="nav-item account" type="button" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                            <a href="#" class="btn btn-secondary rounded-circle">
                                <i class="fa fa-user"></i>
                            </a>
                            <a class="nav-link text-dark text-uppercase pt-0" href="#" style="display:inline-block">
                                Tài
                                khoản
                            </a>
                        </li>
                        <li class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item nutdangky text-center mb-2" asp-page="SignUp">Đăng ký</a>
                            <a class="dropdown-item nutdangnhap text-center" href="#" data-bs-toggle="modal" data-bs-target="#formdangnhap">Đăng nhập</a>
                        </li>
                    </ul>
                    <div class="nav-item giohang account">
                        <a  class="btn btn-secondary rounded-circle" asp-page="shoppingcart">
                            <i class="fa fa-shopping-cart"></i>
                            <div class="cart-amount">0</div>
                        </a>
                        <a asp-page="shoppingcart" class="nav-link text-dark giohang text-uppercase"  style="display:inline-block">
                            Giỏ
                            Hàng
                        </a>
                    </div>
                </div>
            </div>

        </nav>
      

        <!-- form dang nhap khi click vao button tren header-->
        <div class="modal fade mt-5" id="formdangnhap" data-bs-backdrop="static" tabindex="-1"
             aria-labelledby="dangnhap_tieude" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <ul class="tabs d-flex justify-content-around list-unstyled mb-0">
                            <li class="tab tab-dangnhap text-center">
                                <a class=" text-decoration-none" >Đăng nhập</a>
                                <hr>
                            </li>
                            <li class="tab tab-dangky text-center">
                                <a class="text-decoration-none">Đăng ký</a>
                                <hr>
                            </li>
                        </ul>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="form-signin" class="form-signin mt-2">
                            <div class="form-label-group">
                                <input type="email" class="form-control" placeholder="Nhập địa chỉ email" name="email"
                                       required autofocus>
                            </div>

                            <div class="form-label-group">
                                <input type="password" class="form-control" placeholder="Mật khẩu" name="password" required>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Nhớ mật khẩu</label>
                                <a href="#" class="float-right text-decoration-none" style="color: #F5A623">
                                    Quên mật
                                    khẩu
                                </a>
                            </div>

                            <button class="btn btn-lg btn-block btn-signin text-uppercase text-white w-100" type="submit"
                                    style="background: #F5A623">
                                Đăng nhập
                            </button>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-google btn-block text-uppercase  w-100" type="submit">
                                <i class="fab fa-google mr-2"></i> Đăng nhập bằng Google
                            </button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase  w-100" type="submit">
                                <i class="fab fa-facebook-f mr-2"></i> Đăng nhập bằng Facebook
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </header>
}
