@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <header>
        <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container float-start">
                <div class=" ms-2">
                    <img src="https://localhost:44324/wwwroot/Upload/logo.png" style="height:65px" asp-append-version="true">
                </div>
                <div class="flex-fix col-9 ms-2">
                    <div class="flex-fix p-0">
                        <div class="flex-fix">
                            <div class="border border-2 rounded-circle p-2 circle-header">
                                <img src="https://localhost:44324/wwwroot/Upload/shopping.svg" class="img-header" asp-append-version="true">
                            </div>
                            <div class="mt-2 me-2 ms-2 title-header " >
                                <h5 class="m-0 ">Mua hàng</h5>
                                <p class="m-0 header-p lh-base">Cam kết chất lượng</p>
                            </div>
                        </div>
                    </div>
                    <div class=" p-0">
                        <div class="flex-fix">
                            <div class="border border-2 rounded-circle p-2 circle-header">
                                <img src="https://localhost:44324/wwwroot/Upload/shopping.svg" class="img-header" asp-append-version="true">
                            </div>
                            <div class="mt-2 me-2 ms-2 title-header">
                                <h5 class="m-0 ">Mua hàng</h5>
                                <p class="m-0 header-p lh-base">Cam kết chất lượng</p>
                            </div>
                        </div>
                    </div>              <div class=" p-0">
                        <div class="  flex-fix">
                            <div class="border border-2 rounded-circle p-2 circle-header">
                                <img src="https://localhost:44324/wwwroot/Upload/payment.svg" class="img-header" asp-append-version="true">
                            </div>
                            <div class="mt-2 me-2 ms-2 title-header">
                                <h5 class="m-0 ">Thanh Toán</h5>
                                <p class="m-0 header-p lh-base">Giao Hàng & Thanh Toán Tại Nhà</p>
                            </div>
                        </div>
                    </div>              <div class="p-0">
                        <div class="  flex-fix">
                            <div class="border border-2 rounded-circle p-2 circle-header">
                                <img src="https://localhost:44324/wwwroot/Upload/return.svg" class="img-header" asp-append-version="true">
                            </div>
                            <div class="mt-2 me-2 ms-2 title-header">
                                <h5 class="m-0 ">Đổi trả hàng</h5>
                                <p class="m-0 header-p lh-base">Trong Vòng 05 Ngày(*)</p>
                            </div>
                        </div>
                    </div>              <div class=" p-0">
                        <div class="  flex-fix">
                            <div class="border border-2 rounded-circle p-2 circle-header">
                                <img src="https://localhost:44324/wwwroot/Upload/opening.svg" class="img-header" asp-append-version="true">
                            </div>
                            <div class="mt-2 me-2 ms-2 title-header">
                                <h5 class="m-0 ">Giờ mở cửa</h5>
                                <p class="m-0 header-p lh-base">8:00 - 20:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <nav class="navbar navbar-expand-sm bg-info">

            <div class="container">
                <div class="col-ms-6 col-md-3 p-3  me-md-3  me-lg-0 dropdown-toggle fw-bolder text-white fs-5">
                    Danh mục sản phẩm
                </div>
                <div class="col-9 ms-md-5 ms-lg-0">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="flex-fix  p-0 col-ms-12 col-md-9  col-lg-7    " role="search">
                            <input class="form-control" type="search" placeholder="Tìm kiếm" aria-label="Search">
                            <button class="btn btn-primary bg-primary col-3 bg-opacity-25 border-0" type="submit">Tìm kiếm</button>
                        </form>
                    </div>
                </div>

            </div>
        </nav>
    </header>
}
