@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <header>
        <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container ">

                <div class="col-md-3 p-3">
                    Logo
                </div>
                <div class="col-9  d-flex ">
                    <div class="col-3"><p class="m-0">Mua hàng</p></div>
                    <div class="col-3"><p class="m-0">Thanh Toán</p></div>
                    <div class="col-3"><p class="m-0">Đổi trả hàng</p></div>
                    <div class="col-3"><p class="m-0">Giờ mở cửa</p></div>
                </div>

            </div>
        </div>
        <nav class="navbar navbar-expand-sm bg-info">

            <div class="container ">
                <div class="col-md-3 p-3 dropdown-toggle fw-bolder text-white fs-5">
                   Danh mục sản phẩm
                </div>
                <div class="col-9  d-flex ">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="d-flex  p-0 col-6" role="search">
                            <input class="form-control" type="search" placeholder="Tìm kiếm" aria-label="Search">
                            <button class="btn btn-primary bg-primary col-3 bg-opacity-25 border-0" type="submit">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
         
            </div>
        </nav>
    </header>
}
