<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/shopping-cart.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font/fontawesome-free-6.2.0-web/css/all.css" />
    <link rel="stylesheet" href="~/font/fontawesome-free-6.2.0-web/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" asp-append-version="true"/>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js" asp-append-version="true"></script>
    <link href="~/slick/slick-theme.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/slick/slick.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

    @await Component.InvokeAsync("Header")

    <div class="section">
        <div class="mask"></div>
        <div class="container">
            <main role="main" class="main pb-3">
                @RenderBody()
            </main>
        </div>

        @await Component.InvokeAsync("Footer")



    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/slick/slick.min.js" asp-append-version="true"></script>
    <script src="~/slick/slick.js" asp-append-version="true"></script>
 
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>