@using E_Ecommerce_Shared.DTO.ProductDto
@model List<ProductDto>

@{
    ViewData["Title"] = "Product ";

    //List<ProductModel> products = ViewBag.listProduct;

    //var products = ViewData["listProductFromViewData"] as List<ProductModel>;
}

<table cellpadding="10" cellspacing="10" border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Quantity</td>
        </tr>
    }
</table>
