@page
@{
    Layout = null;
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_Ecommerce_CustomerSite.styles.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
    <style>
        .header {
            color: cadetblue;
        }

        .footer {
            text-align: center;
            font-size: small;
        }
    </style>
</head>
<body>
       @await Component.InvokeAsync("Header")
    
    @*<div>@await Component.InvokeAsync("Categories")</div>*@
</body>
</html>
@{
    
}
