

@{
    ViewData["Title"] = "Categories ";

    //List<ProductModel> products = ViewBag.listProduct;

    //var products = ViewData["listProductFromViewData"] as List<ProductModel>;
}

<div>@await Component.InvokeAsync("Categories")</div>